* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background: url(../images/background.jpg) center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: Tahoma, sans-serif;
  direction: rtl;
  width: 100%; }

section,
nav {
  width: 100%;
  max-width: 1270px;
  margin: 3rem auto;
  padding: 1rem; }

.hamburger-menu {
  width: 40px;
  height: 40px;
  position: fixed;
  top: 10%;
  right: 5%;
  z-index: 3; }
  .hamburger-menu .menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    transition: transform 0.5s; }
    .hamburger-menu .menu-line {
      width: 100%;
      height: 4px;
      background-color: #eacf4f;
      transition: all 0.5s 0.5s;
      transform-origin: right; }

.navbar {
  position: relative;
  z-index: 2; }
  .navbar-navigation {
    display: flex;
    width: 35vw;
    height: 100vh;
    background-color: #262626;
    position: fixed;
    top: 0;
    right: -35vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: right 0.8s cubic-bezier(1, 0, 0, 1); }
    .navbar-navigation .nav-list-item {
      list-style: none; }
    .navbar-navigation .nav-list-link {
      font-size: 40px;
      font-weight: 200;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #e0e0e0;
      text-decoration: none;
      display: block;
      margin: 20px;
      text-align: center;
      transition: all 0.5s; }
      .navbar-navigation .nav-list-link:hover {
        color: #eacf4f;
        letter-spacing: 4px; }

.checkbox:checked ~ .navbar-navigation {
  right: 0; }

.checkbox:checked ~ .hamburger-menu .menu {
  transform: rotateZ(90deg); }

.checkbox:checked ~ .hamburger-menu .menu-line-1 {
  transform: rotateZ(-40deg); }

.checkbox:checked ~ .hamburger-menu .menu-line-2 {
  opacity: 0; }

.checkbox:checked ~ .hamburger-menu .menu-line-3 {
  transform: rotateZ(40deg); }

.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  background: url(../images/home.png) center no-repeat;
  background-size: cover; }
  .home .brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
  .home-content {
    text-align: center;
    margin: 4rem auto; }

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #eacf4f;
  font-size: 4rem;
  padding: 1rem;
  margin-left: 20px;
  border: solid 2px #eacf4f;
  border-radius: 50%;
  text-decoration: none; }

.main-name {
  font-size: 4rem;
  color: #e0e0e0;
  font-weight: 200;
  letter-spacing: 2px;
  text-transform: uppercase; }

.sub-name {
  font-size: 2rem;
  color: #e0e0e0;
  text-align: center;
  font-weight: 200;
  letter-spacing: 2px;
  text-transform: uppercase; }

.main-heading {
  font-size: 5rem;
  font-weight: 300;
  color: #eacf4f;
  margin-bottom: 4rem; }

.sub-heading {
  font-size: 4rem;
  font-weight: 300;
  color: #e0e0e0;
  margin-bottom: 80px; }

.main-btn {
  padding: 0.5rem 1.5rem;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #eacf4f;
  border: 1px solid #eacf4f;
  cursor: pointer;
  background: none;
  transition: all 0.4s;
  border-radius: 5px;
  text-align: center; }
  .main-btn:hover {
    background-color: #eacf4f;
    color: #262626; }

.about-us {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .about-us-image {
    width: 40%; }
    .about-us-image img {
      width: 100%;
      opacity: 0.6; }
  .about-us-desc {
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2rem; }
    .about-us-desc .main-heading {
      font-size: 3.5rem;
      margin-bottom: 1rem; }
    .about-us-desc .sub-heading {
      font-size: 2.5rem;
      margin-bottom: 1rem; }
    .about-us-desc .stars {
      margin: 30px 0; }
    .about-us-desc .star {
      font-size: 1rem;
      color: #eacf4f;
      margin-left: 10px; }
    .about-us-desc .description {
      font-size: 1.8rem;
      color: #e0e0e0;
      direction: rtl;
      text-align: justify; }
      .about-us-desc .description::first-letter {
        padding-right: 30px; }

.gallery .foods {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem; }

.food {
  border-radius: 10px;
  position: relative;
  overflow: hidden; }
  .food:hover .food-overlay {
    right: 0; }
  .food-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: -100%;
    background-color: rgba(255, 255, 255, 0.8);
    color: #eacf4f;
    z-index: 1;
    transition: right 0.5s; }
    .food-overlay-price {
      font-size: 2rem;
      margin-bottom: 30px;
      font-weight: 200;
      letter-spacing: 2px;
      text-transform: uppercase; }
    .food-overlay-btn {
      padding: 0.5rem 1.5rem;
      background-color: #eacf4f;
      color: #fff;
      font-size: 1rem;
      border: 1px solid #eacf4f;
      border-radius: 30px;
      outline: none;
      cursor: pointer; }
  .food-img {
    max-width: 100%;
    height: auto;
    object-fit: cover; }
