$color-dark: #262626;
$color-primary: #eacf4f;
$color-secondary: rgb(224, 224, 224);
$color-white: #fff;
@mixin flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin textStyles {
  font-weight: 200;
  letter-spacing: 2px;
  text-transform: uppercase;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url(../images/background.jpg) center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: Tahoma, sans-serif;
  direction: rtl;
  width: 100%;
}
section,
nav {
  width: 100%;
  max-width: 1270px;
  margin: 3rem auto;
  padding: 1rem;
}
