@import "base";
.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  background: url(../images/home.png) center no-repeat;
  background-size: cover;
  .brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  &-content {
    text-align: center;
    margin: 4rem auto;
  }
}
.logo {
  @include flex;
  color: $color-primary;
  font-size: 4rem;
  padding: 1rem;
  margin-left: 20px;
  border: solid 2px $color-primary;
  border-radius: 50%;
}

.main-name {
  font-size: 4rem;
  color: $color-secondary;
  @include textStyles;
}

.sub-name {
  font-size: 2rem;
  color: $color-secondary;
  text-align: center;
  @include textStyles;
}

.main-heading {
  font-size: 5rem;
  font-weight: 300;
  color: $color-primary;
  margin-bottom: 4rem;
}

.sub-heading {
  font-size: 4rem;
  font-weight: 300;
  color: $color-secondary;
  margin-bottom: 80px;
}

.main-btn {
  padding: 0.5rem 1.5rem;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $color-primary;
  border: 1px solid $color-primary;
  cursor: pointer;
  background: none;
  transition: all 0.4s;
  border-radius: 5px;
  text-align: center;
  &:hover {
    background-color: $color-primary;
    color: $color-dark;
  }
}

.about-us {
  display: flex;
  flex-direction: row;
  align-items: center;

  &-image {
    width: 40%;
    img {
      width: 100%;
      opacity: 0.6;
    }
  }

  &-desc {
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2rem;

    .main-heading {
      font-size: 3.5rem;
      margin-bottom: 1rem;
    }

    .sub-heading {
      font-size: 2.5rem;
      margin-bottom: 1rem;
    }

    .stars {
      margin: 30px 0;
    }

    .star {
      font-size: 1rem;
      color: $color-primary;
      margin-left: 10px;
    }

    .description {
      font-size: 1.8rem;
      color: $color-secondary;
      direction: rtl;
      text-align: justify;

      &::first-letter {
        padding-right: 30px;
      }
    }
  }
}

.gallery {
  .foods {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
  }
}
.food {
  border-radius: 10px;
  position: relative;
  overflow: hidden;

  &:hover .food-overlay {
    right: 0;
  }

  &-overlay {
    @include flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: -100%;
    background-color: rgba($color-white, 0.8);
    color: $color-primary;
    z-index: 1;
    transition: right 0.5s;
    &-price {
      font-size: 2rem;
      margin-bottom: 30px;
      @include textStyles;
    }

    &-btn {
      padding: 0.5rem 1.5rem;
      background-color: $color-primary;
      color: $color-white;
      font-size: 1rem;
      border: 1px solid $color-primary;
      border-radius: 30px;
      outline: none;
      cursor: pointer;
    }
  }

  &-img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
}
